<div class="header-bg">
  <div class="container">
    <div class="header-items">
      <div>
        <div class="header-logo">
          <span class="material-icons play"> play_circle_outline </span>

          <a [routerLink]="['/']" class="logo-link">
            <h2 class="logo">
              {{ title | uppercase }}
            </h2>
          </a>
        </div>
      </div>

      <div class="user">
        <p style="color: white" *ngIf="isLoggedIn">
          {{ userName }}
        </p>

        <div class="user-btn" *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']">
            <span class="material-icons user-icons"> person </span>
            <button class="user-login">User login</button></a
          >
        </div>
        <div class="user-btn">
          <span class="material-icons user-icons"> logout </span>
          <button class="user-login" (click)="onLogout()">Log out</button>
        </div>
      </div>
    </div>
  </div>
</div>
